// Typography
$base-font-family: "Source Sans Pro", sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;

// Colors
$red: #ED1D24;
$dark-grey: #333;

// Font Colors
$base-font-color: $dark-grey;
